body{
    background-color: rgb(145, 72, 72);
    color: #eee;       
}

a, a:visited, a:hover{
    color: cadetblue;    
    text-decoration: underline;
    font-size: x-large;
}

table{
    border-collapse: collapse;
}

td{
    width:  100px;
}

.tableElement{
    border: 2px solid rgba(0, 0, 0, 0.801);
    }    ul li {
        display: inline;
        margin: 50px;
        
    }
    footer {
        text-align: left;
        clear: both;
    }
    div img {
        margin: 30px;
        width:20%;
        display: inline-table;
        
    }
    a {
        text-decoration: none;
    }