.container {
    margin: 2em;
    box-shadow: 0px 0px 10px 0px; 
    background-color: rgb(144, 200, 218);
    text-align: center;
    
    
    
}

.hFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
   
}

.vFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

   
 #q {
        text-align: center;
        padding: 20px;
        box-shadow: 0px 0px 10px 0px; 
        margin-left: 200px;
        margin-right: 200px;
        font-family: 'Zen Loop', cursive;
        font-size: 60px;


    }
     
ul li {
        display: inline;
        
        color: rgb(28, 33, 104);
        font-family: 'Zen Tokyo Zoo', cursive;
        font-size: 30px;
        margin-right: 20px;

    }
a {
    display: list-item;
        text-decoration: none;
         font-family: 'Lobster', cursive;
        color: rgb(66, 30, 5);
        font-size:35px
        
      
     } 
     #h {
         margin-left: 60px;
     }
 h1 {
     background-color: rgb(135, 197, 222);
     color: rgb(66, 30, 5);
     margin: px;
 }
 .r {
     font-size: 40px;
    

 }
 .collapsible {
    background-color: rgb(91, 186, 250);
    color: rgb(114, 230, 133)
    cursor: pointer;
    padding: 18px;
    width: 30%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    margin-bottom: 20px;
    display: list-item;
 margin-left: auto;
 margin-right: auto;
 display: block;
 font-family: 'Paytone One', sans-serif;
    
    
    
 }
  
.active, .collapsible:hover {
    background-color: rgb(86, 155, 196);
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(148, 216, 228);
    color: 77ACF1;
    font-family: 'Belgrano', serif;
    
}
 div img {
        margin: 30px;
        width:20%;
        display: inline-table;
 }
body{
    background-image: url(https://3.bp.blogspot.com/-yVlZRq9Tn7U/UCvLxNyPLHI/AAAAAAAADuI/zX3wNjoyme8/s1600/Animals_Under_water_sea_ocean_fish_024355_.jpg);

}
#h {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJcHkXp09d0RsXKR5nvvMCTnF-9k1YdwK5kw&usqp=CAU);
}